<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-center">
                <p class="footer-company-name">Todos los derechos. &copy; 2022 || <a href="#">www.todosobreelsol.com</a></p>
                {#<p class="footer-company-name"></p>#}
            </div>
        </div>
    </div><!-- end container -->
</div>
