<div id="plan" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Elige tu Plan</h3>
            <p>Lorem ipsum dolor sit aet, consectetur adipisicing lit sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. </p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="message-box">
                    <ul class="nav nav-pills nav-stacked" id="myTabs">
                        <li><a class="active" href="#tab1" data-toggle="pill">Subscripcion Mensual</a></li>
                        <li><a href="#tab2" data-toggle="pill">Subscripcion Anual</a></li>
                    </ul>
                </div>
            </div><!-- end col -->
        </div>

        <hr class="invis">

        <div class="row">
            <div class="col-md-12">
                <div class="tab-content">
                    <div class="tab-pane active fade show" id="tab1">
                        <div class="row text-center">
                            <div class="col-md-4">
                                <div class="pricing-table pricing-table-highlighted">
                                    <div class="pricing-table-header grd1">
                                        <h2>45€</h2>
                                        <h3>por mes</h3>
                                    </div>
                                    <div class="pricing-table-space"></div>
                                    <div class="pricing-table-features">
                                        <p><i class="fa fa-envelope-o"></i> <strong>250</strong> Title1 pricing</p>
                                        <p><i class="fa fa-rocket"></i> <strong>125GB</strong>Title2 pricing</p>
                                        <p><i class="fa fa-database"></i> <strong>140</strong> Title3 pricing</p>
                                        <p><i class="fa fa-link"></i> <strong>60</strong> Title4 pricing</p>
                                        <p><i class="fa fa-life-ring"></i> <strong>24/7 Soporte</strong> Ilimitado
                                        </p>
                                    </div>
                                    <div class="pricing-table-sign-up">
                                        <a href="#" class="hover-btn-new orange"><span>Solicitar ahora</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="pricing-table pricing-table-highlighted">
                                    <div class="pricing-table-header grd1">
                                        <h2>59€</h2>
                                        <h3>por mes</h3>
                                    </div>
                                    <div class="pricing-table-space"></div>
                                    <div class="pricing-table-features">
                                        <p><i class="fa fa-envelope-o"></i> <strong>250</strong> Title1 pricing</p>
                                        <p><i class="fa fa-rocket"></i> <strong>125GB</strong>Title2 pricing</p>
                                        <p><i class="fa fa-database"></i> <strong>140</strong> Title3 pricing</p>
                                        <p><i class="fa fa-link"></i> <strong>60</strong> Title4 pricing</p>
                                        <p><i class="fa fa-life-ring"></i> <strong>24/7 Soporte</strong> Ilimitado
                                        </p>
                                    </div>
                                    <div class="pricing-table-sign-up">
                                        <a href="#" class="hover-btn-new orange"><span>Solicitar ahora</span></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="pricing-table pricing-table-highlighted">
                                    <div class="pricing-table-header grd1">
                                        <h2>85€</h2>
                                        <h3>por mes</h3>
                                    </div>
                                    <div class="pricing-table-space"></div>
                                    <div class="pricing-table-features">
                                        <p><i class="fa fa-envelope-o"></i> <strong>250</strong> Title1 pricing</p>
                                        <p><i class="fa fa-rocket"></i> <strong>125GB</strong>Title2 pricing</p>
                                        <p><i class="fa fa-database"></i> <strong>140</strong> Title3 pricing</p>
                                        <p><i class="fa fa-link"></i> <strong>60</strong> Title4 pricing</p>
                                        <p><i class="fa fa-life-ring"></i> <strong>24/7 Soporte</strong> Ilimitado
                                        </p>
                                    </div>
                                    <div class="pricing-table-sign-up">
                                        <a href="#" class="hover-btn-new orange"><span>Solicitar ahora</span></a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end row -->
                    </div><!-- end pane -->

                    <div class="tab-pane fade" id="tab2">
                        <div class="row text-center">
                            <div class="col-md-4">
                                <div class="pricing-table pricing-table-highlighted">
                                    <div class="pricing-table-header grd1">
                                        <h2>477€</h2>
                                        <h3>Anual</h3>
                                    </div>
                                    <div class="pricing-table-space"></div>
                                    <div class="pricing-table-features">
                                        <p><i class="fa fa-envelope-o"></i> <strong>250</strong> Title1 pricing</p>
                                        <p><i class="fa fa-rocket"></i> <strong>125GB</strong>Title2 pricing</p>
                                        <p><i class="fa fa-database"></i> <strong>140</strong> Title3 pricing</p>
                                        <p><i class="fa fa-link"></i> <strong>60</strong> Title4 pricing</p>
                                        <p><i class="fa fa-life-ring"></i> <strong>24/7 Soporte</strong> Ilimitado
                                        </p>
                                    </div>
                                    <div class="pricing-table-sign-up">
                                        <a href="#" class="hover-btn-new orange"><span>Solicitar ahora</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="pricing-table pricing-table-highlighted">
                                    <div class="pricing-table-header grd1">
                                        <h2>485€</h2>
                                        <h3>Anual</h3>
                                    </div>
                                    <div class="pricing-table-space"></div>
                                    <div class="pricing-table-features">
                                        <p><i class="fa fa-envelope-o"></i> <strong>250</strong> Title1 pricing</p>
                                        <p><i class="fa fa-rocket"></i> <strong>125GB</strong>Title2 pricing</p>
                                        <p><i class="fa fa-database"></i> <strong>140</strong> Title3 pricing</p>
                                        <p><i class="fa fa-link"></i> <strong>60</strong> Title4 pricing</p>
                                        <p><i class="fa fa-life-ring"></i> <strong>24/7 Soporte</strong> Ilimitado
                                        </p>
                                    </div>
                                    <div class="pricing-table-sign-up">
                                        <a href="#" class="hover-btn-new orange"><span>Solicitar ahora</span></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="pricing-table pricing-table-highlighted">
                                    <div class="pricing-table-header grd1">
                                        <h2>500€</h2>
                                        <h3>Anual</h3>
                                    </div>
                                    <div class="pricing-table-space"></div>
                                    <div class="pricing-table-features">
                                        <p><i class="fa fa-envelope-o"></i> <strong>250</strong> Title1 pricing</p>
                                        <p><i class="fa fa-rocket"></i> <strong>125GB</strong>Title2 pricing</p>
                                        <p><i class="fa fa-database"></i> <strong>140</strong> Title3 pricing</p>
                                        <p><i class="fa fa-link"></i> <strong>60</strong> Title4 pricing</p>
                                        <p><i class="fa fa-life-ring"></i> <strong>24/7 Soporte</strong> Ilimitado
                                        </p>
                                    </div>
                                    <div class="pricing-table-sign-up">
                                        <a href="#" class="hover-btn-new orange"><span>Solicitar ahora</span></a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end row -->
                    </div><!-- end pane -->
                </div><!-- end content -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div>
